
/Arduino/Serial_Control_Ledstrip/.idea
/Application/electron_foundation_ledcontrol/ledstrip_serial_control-win32-x64
/Application/electron_foundation_ledcontrol/.idea
/Application/electron_foundation_ledcontrol/node_modules
